@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    @using System.Data;
}

<div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-column col-md-9 mt-4">
        @if (!Model.isAdmin){
        <!-- booking div -->
        <div class="d-flex justify-content-center">
            <div class="d-flex align-items-center justify-content-between border rounded-3 p-3 w-75">

                <!-- Label -->
                <label class="ms-5 fw-semibold">
                    Wanna Book a session
                </label>

                <!-- Button -->
                <a href="/Book_Sessions" class="btn btn-dark px-4 py-2 text-decoration-none">
                    Book now
                </a>



            </div>
        </div>
        }
        @if (Model.Circles.Rows.Count > 0)
        {
            /* This code gives and error and I don't understand what it does from my understanding The user can open any circule by just clicking on it*/ 
            
            /*<form method="post" asp-page-handler="SelectCircle" class="mt-4 mb-3 w-50">
                <div class="mb-3">
                    <label class="form-label fw-semibold">Choose a circle</label>
                    <select asp-for="SelectedCircleId"
                            asp-items="Model.CircleOptions"
                            class="form-select">
                        <option value="">-- Select circle --</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Open circle</button>
            </form>*/
        }

        <!-- circle  cards -->
        <div class="d-flex flex-row justify-content-between col-md-9 m-4 flex-wrap">
            @foreach (DataRow circle in Model.Circles.Rows)
            {
                <a asp-page="/Memorization_Circle" asp-route-name="@circle["Name"]" class="card shadow-sm border rounded-4 text-decoration-none mt-3" style="width: 18rem;">
                    <div class="bg-light rounded-top-4 d-flex justify-content-center align-items-center" style="height: 120px;">
                        @* <img src= class="img-fluid" /> *@
                    </div>

                    <div class="card-body">
                        <h6 class="card-title mb-1">@circle["Name"]</h6>
                        <div class="d-flex align-items-center text-muted mt-2">
                            <i class="bi bi-person"></i>
                            @if ((bool)@circle["Public_Avaliable"])
                            {                            
                                <span class="ms-1">Public</span>
                            }
                            else
                            {
                                <span class="ms-1">Private</span>
                            }
                        </div>
                    </div>
                </a>
            }
        </div>

        @if (Model.user.isverified)
        {            
            <div>
                <form method="post" asp-page-handler="Addcircule">
                    add a circule
                    Name: <input asp-for="@Model.newcirculename" />
                    is public: <input asp-for="@Model.ispublic" type="checkbox" />
                    <button type="submit">Add</button>
                    <span asp-validation-for="@Model.newcirculename"></span>
                </form>
            </div>
        }
    </div>
    
    <!--We will most likely delete this section-->
    <!--notfication cards -->
    <div class="col-md-2 m-4">
        <div class="p-3 border rounded-4 shadow-sm bg-white">

            <h5 class="fw-bold mb-3">Notifications</h5>

            @foreach (var noti in Model.Notifications)
            {
                <div class="d-flex mb-3">
                    <div class="me-2">
                        <i class="bi bi-bell text-primary fs-4"></i>
                    </div>
                    <div>
                        <p class="mb-1 fw-semibold">@noti.Message</p>
                        <small class="text-muted">@noti.TimeAgo</small>
                    </div>
                </div>
            }

        </div>
    </div>

</div>



